.RolexContanier{
    text-align: center;
}
.RolexBlockOne{
   display: flex; 
   justify-content: center;
   align-items: center;
   padding: 5px;
   gap:1px;
}
.RolexBlockTwo{
    margin-top: 10%;
}
.contentBlock{
    text-align: left;
    width:98%;
    margin-left:2%;
    margin-top: -10%;
    height:150px;
    background: white;
    position: relative;
    margin-bottom: 5%;
    padding:2%;
}
.contentBlock h2{
    font-weight: bold;
    font-size: 25px;
}
.contentBlock label{
    text-decoration: underline;
    text-decoration-color: gold;
}
.contentBlock p{
    font-size: 18px;
    margin-top:2px;
    font-weight:400;
}