.FooterMainContainer{
    margin-top: 2%;
    border-top:4px solid grey;
}
.footerContainer{
    width:80%;
    margin: auto;
    margin-top:2%;
    cursor: pointer;
}

.footerLayerOne{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.262);
    justify-content: space-between;
}
.footerIcons{
    display: flex;
    gap:5px;
}
.footerLayerTwo{
    display: flex;
    gap:10%;
    line-height: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.262);
}
.footerLayerTwo ul{
    list-style: none;
}
.footerLayerTwo li{
   margin-left: 5px;
}
.footerLayerTwo label{
    margin-left: 5px;
}
/* .footerLayerTwoInner{
    margin-left:-30px;
} */
.footerLayerTwo a{
    font-size: 15px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: lighter;
}
.footerLayerThree{
    display: flex;
    padding:1%;
    gap:5%;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.262);
}
.footerLayerThree p{
    font-weight: lighter;
}
.footerLayerFour{
    text-align: center;
    font-weight: lighter;
    padding: 1%;
}
.footerLayerFive{
    text-align: center;
}
.footerLayerTwoInner1{
    border-left: 1px solid rgba(128, 128, 128, 0.439);
}
