.NeonContainerOne{
    display: flex;
    align-items: center;
    padding:0.5%;
    width:100%;
    cursor: pointer;
    background-color: black;
    border: 1px solid teal;
    justify-content: space-around;
}
.NeonContainerTwo{
    width:20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NeonContainerTwoImage{
    width:50%;
}
.NeonContainerTwoImage img{
    width:100%;
}
.NeonIcons{
    margin-right: -100%;
    border-right: 1px solid grey;
}
.NeonIcons span{
    margin:5px;
    font-size: 25px;
}
.NeonIcons1{
    color: #4968ab;
}
.NeonIcons2{
    color:#01b0ef;
}
.NeonIcons3{
    color:#cf577b;
}
.NeonIcons4{
    color:#b91d1c;
}
.NeonSearchContainer{
    margin-left:-7%;
}
.NeonContainerThree{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    padding:0.5%;
    justify-content: center;
    align-items: center;
    gap:3%;
    cursor: pointer;
}
.NeonRoutes{
    display: flex;
    gap:2%;
}
.NeonRoutes a{
    border-right: 1px solid grey;
    letter-spacing: 2px;
}
.NeonRoutes a:hover{
    text-decoration: underline;
    text-decoration-color: #b91d1c;
}
.NeonRoutesImages{
    display:flex;
    align-items: center;
}